<!-- myapp/templates/myapp/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Hello, Django!</title>
    <style>
        body {
            background-color: #98AFC7; /* Use your preferred color code or name */
        }
    </style>
</head>
<body>
    <h1>Welcome to GLIS</h1>
    <p>This is team Infinite Nexus22</p>
</body>
</html>
